body {
    background-color: AliceBlue;
    text-align: center;
}

p {
    color: white;
    font-family: Verdana;
    font-size: 1.2em;
    margin: 20px;
}

img {
    margin 300px 0 50px 0;
    width: 500px;
    height: 200px;
}

input{
    width: 300px;
    height: 50px;
    margin: 20px;
    border; none;
    border-radius: 10px;
    font-family: Verdana;
    text-align: center;
    font-size: 1.3em;
}

input:focus {
    border: solid 5px #8B0000;
    outline: none;
}

#greet {
    background-color: CadetBlue;
    color: white;
    width: 200px;
}

#greet:hover {
    background-color: DarkSeaGreen;
    cursor: pointer;

}

table, th, td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-family: Verdana;

}

tr:nth-child(even) {
    background-color: CadetBlue;
}

tr:nth-child(odd) {
    background-color: DarkSeaGreen;
}