body {
    --nav-width: 200px;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

#app {
    margin-top: var(--nav-height, 60px); /* Add margin at the top to create space for the navigation panel */
    margin-bottom: 2em; /* Add a margin at the bottom for spacing */
    padding: 2em; /* Add padding for a more visually appealing layout */
    line-height: 1.5;
    font-weight: 500;
}


.nav {
    position: fixed;
    top: 0; /* Initially hide the navigation panel above the viewport */
    left: 0;
    width: 100%;
    height: var(--nav-height, 60px); /* Set your preferred height */
    background: #222222;
    transition: top 0.3s ease-in-out;
    z-index: 1000;
    text-align: center; /* Center the navigation links horizontally */
    display: flex; /* Align navigation links vertically */
    align-items: center; /* Center the navigation links vertically */
}


.nav.active {
    top: 0; /* Slide down to show the navigation panel */
}


.nav__link {
    display: inline-block; /* Display links horizontally */
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .nav {
        top: 0; /* Hide the navigation panel by default */
    }

    .nav.active {
        top: 0; /* Show the navigation panel when active */
    }

    body {
        margin: 0;
    }
}

.nav-toggle {
    position: absolute;
    top: 13px;
    left: 700px;
    z-index: 1000;
    background: #009579;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
